<%- include ("templates/cabecera",{ titulo:"Contáctanos"})%> 



    <!-- contenido de pagina-->
    <div class="container-fluid">
        <h1 class="mt-4"><%= titulo%></h1>
        <img src="mia.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
        <p><strong><i class="fas fa-user"></i> Nombre:</strong> Pablo Adolfo Pacheco Poot<br><strong><i class="fas fa-phone-square-alt"></i> Teléfono:</strong> 983-105-2038<br><strong><i class="fas fa-envelope"></i> Email:</strong> principe_latin@hotmail.com o pablo.pacheco@uimqroo.edu.mx<br><strong><i class="fas fa-bell"></i> Redes sociales:</strong> Facebook, Twitter, LinkedIn<br><strong><i class="fab fa-whatsapp-square"></i> WhatsApp</strong> 983-105-2038</p>
    <p> Contáctanos a través de nuestro correo digital 
        <code>principe_latin@hotmail.com</code> o en correo institucional universitario <code>pablo.pacheco@uimqroo.edu.mx</code>, así mismo, se cuenta con las redes sociales Facebook <a href="https://www.facebook.com/enamorado.detiamor.71/" target="_BLANK" class="text-decoration-none">Pablo Pacheco</a>, LinkedIn <a href="https://www.linkedin.com/in/pablo-pacheco-poot-49a43a1a3/" target="_BLANK" class="text-decoration-none">Pablo Pacheco</a>, Twitter <a href="https://twitter.com/PabloEnamorado9" target="_BLANK" class="text-decoration-none">Pablo Pacheco</a>
        
    </p>



<%- include ("templates/footer")%> 