<%- include ("templates/cabecera",{ titulo:"Datos personales"})%> 



  <!-- contenido de pagina-->
  <div class="container-fluid">
    <h1 class="mt-4"><%= titulo%></h1>
      <img src="mia.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
      <p><strong> <i class="fas fa-user"></i> Nombre:</strong> Pablo Adolfo Pacheco Poot<br><strong><i class="fas fa-map-marker-alt"></i> Lugar y fecha de nacimiento:</strong> 22 de marzo de 1991, José Maria Morelos, Quintana Roo<br><strong> <i class="fas fa-location-arrow"></i>Dirección:</strong> Calle conocida S/N La Presumida<br><strong><i class="fas fa-briefcase"></i> Ocupación:</strong> Estudiante de licenciatura en Ingeniería en Tecnologías de la información y Comunicación<br><strong><i class="fas fa-map-marker-alt"></i> Lugar de estudio:</strong> José María Morelos, Quintana Roo<br><strong><i class="fas fa-school"></i> Casa de estudios:</strong> Universidad Intercultural Maya de Quintana Roo (UIMQRoo)<br><strong><i class="fas fa-file-alt"></i> Curp:</strong> PAPP910322HQRCTB00<br><strong><i class="fas fa-file-alt"></i></p>
    
    

<%- include ("templates/footer")%> 