<%- include ("templates/cabecera",{ titulo:"Experiencia laboral"})%> 

<!-- contenido de pagina-->
<div class="container-fluid">
    <h1 class="mt-4"><%= titulo%></h1>
    <img src="mia.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
    <p class="text-justify">En ámbito laboral, cuento documentos que validan mi experiencia en diferentes áreas de trabajo, con amplia cooperatividad entre compañeros, facilidad de expresión de palabra, conocimientos en ITIL para la administración de las TIC</p><br>
    <p>2009-2010 Contrato en Conafe como maestro en EDUCACION INICIAL NO ESCOLARIZADO <br><br>2011-2012 Contrato en el INEA como encargado del Centro de Computo Comunitario <br><br>2012-2015 Contrato en el Dpto. de administración y recepcion del Hotel Cabañas el Tukan </p>
    

<%- include ("templates/footer")%> 