<%- include ("templates/cabecera",{ titulo:"Niveles de estudio"})%> 

<!-- contenido de pagina-->
<div class="container-fluid">
    <h1 class="mt-4"><%= titulo%></h1>
    <img src="mia.jpg" class="img-fluid img-thumbnail rounded float-right" width="25%" height="65%">
      <p><strong><i class="fas fa-school"></i> Primaria:</strong> Escuela Felipe Carrillo Puerto<br><strong><i class="fas fa-school"></i> Secundaria:</strong> Secundaria Tecnica Num. 29<br><strong> <i class="fas fa-school"></i> Preparatoria:</strong> Colegio de Bachilleres Del Estado de Quintana Roo<br><strong><i class="fas fa-school"></i> Licenciatura:</strong> Universidad Intercultral Maya de Quintna Roo (UIMQRoo)</p>

<%- include ("templates/footer")%> 